body {
    font-family: 'Work Sans', sans-serif;
}

/* Variable colors  */

:root {
    --primary-shade-01: #FF42A5;
    --dark-01: #0B0223;
    --dark-02: #534C64;
    --white-01: #FFFFFF;
    --banner-bg: #FBF7FD;

    /* Define font size and font family variables separately */
    --font-size-01: 1.25rem;
    --font-size-02: 3rem;
    --font-family-01: 'Work Sans', sans-serif;
}

/* Global styles */

.primary-gradient-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-primary {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.75rem;
}

.section-title {
    font-size: 3rem;
}

.text-light-primary {
    color: #534C64;
    font-size: 1.125rem;
    line-height: 1.875rem;
    /* 166.667% */
}

.btn-primary {
    background-color: var(--primary-shade-01);
    border-radius: 3rem;
    border: 0;
    color: var(--white-01);
    font-family: var(--font-size-01);
    text-transform: uppercase;

    padding: 1.3125rem 2.5rem;
    gap: 0.625rem;
}


/* Navigation styles */

.nav-container {
    background-color: var(--white-01);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>img {
    width: 50px;
}

.logo .logo-first-letter {
    color: var(--primary-shade-01);
    margin-left: 4px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 20px;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    font-size: var(--font-size-01);
    color: var(--dark-02);
}

.btn-nav {
    color: var(--dark-02);
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    font-size: var(--font-size-01);
    padding: 0.8rem;
    border: 0;
    cursor: pointer;
}


/* Banner section */

.banner-container {
    background-color: var(--banner-bg);
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    color: var(--dark-01);
    font-size: var(--font-size-02);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.styled-title {
    font-size: 5.9375rem;
    font-weight: 800;

}

.banner-img {
    width: 50%;
}

.go-btn {
    background-color: #4EC5F7;
}


/* Online gammer container styles */

.online-gamer-container {
    padding: 0rem 10rem;
    text-align: center;
    margin-top: 7.5rem;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.game-card {
    margin: 2rem;
    cursor: pointer;
    position: relative; 
}

.game-card img {
    width: 15rem;
}

.overlay {
    position: absolute;
    background-color: rgba(11, 2, 35, 0.7); 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease; 
    border-radius: 14px;
}

.game-card:hover .overlay {
    opacity: 1; 
}


.overlay i {
    color: white;
    font-size: 2rem;
    margin-right: 5px;
}

.tooltip {
    color: white;
    font-size: 1rem;
}




/* Play instantly section */

.instant-play-container {
    margin-top: 5rem;
    display: flex;
    padding: 0 10rem;
    justify-content: space-between;
    align-items: center;
}

.play-content {
    max-width: 22rem;
    text-align: right;
    margin-right: 100px;
}

.play-img {
    position: relative;
}

.play-img img {
    width: 80%;
    margin-left: 2rem;
}

.play-img .play-img-02 {
    width: 40%;
    position: absolute;
    top: 250px;
    right: 380px;
}

/* Play online banner section */

/* ------------------ */

/* Career section */

/* ------------- */


/* Gamers section */

.gamers-container {
    padding: 0 10rem;
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.gamers {
    display: flex;
    align-items: center;

    background-color: var(--white-01);
    border-radius: 3rem;
    border: 0;
    padding: 0.5rem;
}

.gamers:hover {
    border: 1px solid var(--primary-shade-01);
}

.gamers img {
    width: 3rem;
}

.gamers-name {
    margin-left: 1rem;
    color: var(--dark-01);
    font-weight: 600;
}


/* Footer styles */

.footer-container {
    margin-top: 5rem;
    padding: 7rem 10rem;
    background-color: var(--dark-01);
    color: var(--white-01);
    text-align: center;
}

.footer-container ul li {
    margin-bottom: 2rem;
    list-style: none;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.footer-links li a {
    text-decoration: none;
    margin-right: 3rem;
    color: var(--white-01);
    font-weight: 600;
}

.icon i {
    margin-right: 3rem;
    font-size: 2rem;
    cursor: pointer;
}

.privacy-link,
.copyright-text {
    margin-right: 2rem;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
}





/* Responsiveness for mobile */

@media screen and (max-width: 576px) {

    /* Global responsive style */
    .nav-container,
    .banner-container,
    .cards-container,
    .instant-play-container,
    nav ul {
        flex-direction: column;
        padding: 0 1rem;

    }

    /* Navigation responsive */
    .logo {
        margin-top: 0;
    }

    nav ul li {
        margin-right: 0;
        margin-top: 1rem;
    }

    .btn-nav {
        margin-top: 1rem;
    }

    /* Banner responsive */

    .banner-content {
        text-align: center;
        order: 2;
        background-color: linear(#8C57EE0D, #F144AE0D);
    }

    .banner-img {
        width: 100%;
        order: 1;
    }

    /* Cards responsiveness style */
    .online-gamer-container {
        padding: 1.5rem;
    }

    .cards-container {
        justify-content: center;
        padding: 0;
    }

    /* Instant play section styles */

    .instant-play-container {
        justify-content: center;
    }

    .play-content {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .play-img {
        display: flex;
        justify-content: center;
    }

    .play-img img {
        width: 50%;
        margin-left: 0;
    }

    .play-img-02 {
        display: none;
    }

    /* Gamers sections styles */

    .gamers-container {
        padding: 1rem;
    }

    .footer-container {
        padding: 0 2rem;
    }

}

/* Tablet View */

@media screen and (min-width: 576px) and (max-width: 992px) {

    .nav-container,
    .cards-container,
    .instant-play-container,
    nav ul {
        flex-direction: column;
        padding: 0 1rem;

    }

    .logo {
        margin-top: 0;
    }

    nav ul li {
        margin-right: 0;
        margin-top: 1rem;
    }

    .btn-nav {
        margin-top: 1rem;
    }


    /* Banner tablet responsiveness */
    .banner-container {
        padding: 2rem;
    }

    .banner-content {
        text-align: left;
    }

    .banner-title,
    .styled-title {
        font-size: 3rem;
        text-align: left;
        font-weight: 700;
    }

    /* Online game section tablet view */
    /* Cards responsiveness style */
    .online-gamer-container {
        padding: 1.5rem;
    }

    .cards-container {
        justify-content: center;
        padding: 0;
    }

    .game-card {
        margin: 0 auto;
        text-align: center;
    }

    /* Instant play sections styles */

    .instant-play-container {
        justify-content: center;
    }

    .play-content {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .play-img {
        display: flex;
        justify-content: center;
    }

    .play-img img {
        width: 50%;
        margin-left: 0;
    }

    .play-img-02 {
        display: none;
    }

    /* Gamers sections style */
    .gamers-container {
        padding: 1rem;
    }
}